body {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
h2,
h2 {
  border: 0;
  padding: 0;
  margin: 0;
}

.cronometro-plastico {
  background-color: #000;
  padding: 20px 40px 150px 40px;
  border-radius: 40% 40% 70% 70%;
  text-align: center;
}

.buttons {
  width: 100%;
  position: relative;
  display: flex;
  right: 0;
}

.buttons #start,
.buttons #reset {
  font-size: 1.125rem;
  padding: 10px;
  border-top: 4px solid red;
  border-bottom: 1px solid #000;
  background: #111;
  color: #f2f2f2;
  cursor: pointer;
  width: 150px;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.buttons #start:hover,
.buttons #reset:hover {
  background: #222222;
  border-top: 4px solid rgb(195, 0, 0);
  color: #fff;
}

#reset {
  left: -50px;
  transform: rotate(-45deg);
}

#start {
  left: 160px;
  transform: rotate(45deg);
}

.cronometro-vidro {
  display: flex;
  border: 4px solid #b2b488;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background: #111;
  flex-direction: column;
}

.cronometro-plastico h2 {
  color: #b2b488;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  text-decoration: underline;
}

.cronometro-visor {
  border: 2px solid black;
  width: 300px;
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: #9ec471;
}

.cronometro-visor h1 {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
}
